<div class="d-flex align-items-center">
  <h1>掲示板作成</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "みんなの節約術", boards_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= form_for @board do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, class: "form_control", rows: 10 %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>